<nav class="nav justify-content-end">
  <div class="container">
       <a class="navbar-brand">Breakfast Reservations Hotel</a>
       <div class="dropdown-menu ">
        <% if current_user %>
        <a class="dropdown-item active" href="#"><%= link_to('log out', destroy_user_session_path)  %></a>
        <% else %>
        <a class="dropdown-item" href="#"><%= link_to('log in', new_user_session_path) %></a>
        <% end %>
       </div>
  </div>
</nav>