<h1>Editing Reservation</h1>

<%= render 'form', reservation: @reservation %>

<%= link_to 'Show', [@hotel, @room, @reservation] %> |
<%= link_to 'Back', hotel_room_reservations_path(@hotel, @room) %>
